.DropdownFacade, .Dropdown, .SingleOptionDropdown {
  height: 40px;
  background-color: #f9f9fa;
  border: 1px solid #d6d4dc;
  background-size: 22px;
  border-radius: 5px;
  display: block;
  position: relative;
  overflow: hidden; }

.SingleOptionDropdown {
  padding: 10px; }

.Dropdown::after {
  font-family: "FontAwesome";
  content: "\f078";
  background: #5f7d8c;
  color: #fff;
  font-size: 1.3rem;
  position: absolute;
  pointer-events: none;
  text-align: center;
  line-height: 40px;
  height: 40px;
  width: 40px;
  border-radius: inherit;
  margin-left: -39px;
  margin-top: -.7px;
  position: absolute; }

.Dropdown__select {
  flex: 1;
  background: transparent;
  padding: 10px;
  font-size: 1.5rem;
  line-height: 2rem;
  border: 0;
  border-radius: 0;
  height: 40px;
  -webkit-appearance: none;
  width: 100%; }

.flatpickr-input-button {
  cursor: pointer;
  padding-left: 5px; }

.flatpickr-input-box {
  font-size: 1em;
  width: 80px;
  text-align: center; }

.expired-reopen-date {
  color: red;
  cursor: pointer; }

.eliminated {
  display: none; }

.hidden-input-box {
  width: 0;
  border: 0;
  padding: 0;
  height: 25px;
  box-sizing: border-box;
  visibility: hidden; }
